<div class="row">
  <div class="col-lg-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{companyName}}</li>
      <li class="list-group-item">{{companyAddress}}</li>
      <li class="list-group-item">{{companyContactUsEmail}}</li>
      <li class="list-group-item">{{companyPhone | phoneFormat}}</li>
    </ul>
  </div>

  <div class="col-lg-8">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
