<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div img-container>
                <img  src="../../../assets/hnlopex.png" class="d-inline-block align-top"
                     alt="">
            </div>
            <div class="card-body">
                <p class="card-text">Roupa moderna em que os tamanhos grandes estao presentes.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div img-container>
                <img  src="../../../assets/internal.png" class="d-inline-block align-top"
                     alt="">
            </div>
            <div class="card-body">
                <p class="card-text">A nossa marca. O nosso fabrico. O nosso Melhor.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div img-container>
                <img  src="../../../assets/spg.jpg" class="d-inline-block align-top" alt="">
            </div>
            <div class="card-body">
                <p class="card-text">Um dos nossos parceiros para todos os estilos e gostos.</p>
            </div>
        </div>
    </div>
</div>
